.modalbody {
    width:  736px;
    height: 457px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(10px);
    margin-top: 200px;

    left: 20%;
}

.st {
    background-image: url('../../assets/Rectangle.png');
   width: 100%;
    position: absolute;
    z-index: 1;
}

.ptag {
    width: 736px;
    height: 50px;
    flex-shrink: 0;
    color: #008A45;
    text-align: center;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 114.286% */
    border-radius: 8px 8px 0px 0px;
    background: #EFFFF4;
    padding: 17px;
}

.h01 {
    color: #000;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.inputfeld {
    width: 320px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 2px 2px 0px 0px;
    border: 1px solid #D9D9DB;
    background: #F7F8FA;
}
.inputfeld2 {
    width: 160px;
    height: 46px;
    border-radius: 2px 2px 0px 0px;
    border: 1px solid #D9D9DB;
    background: #F7F8FA;
}

.eye2 {
    position: absolute;
    right:15%;
    top: 20%;

}

.signinbtn {
    width: 320px;
    height: 40px;
    border-radius: 20px;
    background: #2F6CE5;
    color: #FFF;
    border: none;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 24px;
}

.signinbtn2 {
    width: 320px;
    height: 40px;
    border-radius: 20px;
    border-radius: 2px;
    border: 0.6px solid #D9D9DB;
    background: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;

}

.cross {
    position: absolute;
    margin-top: -34px;
    right: 0%;
    margin-right: -12px;
}

.secondP{
    color: #000;
text-align: right;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: 16px; 
margin-top: -20px;
}

@media only screen and (max-width: 1000px) {
   
    .signinbtn {
        width: 150px;
        height: 36px;
        border-radius: 20px;
        background: #2F6CE5;
        color: #FFF;
        border: none;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        margin-bottom: 24px;
    }
   
    .cross {
      display: none;
    }
    .h01 {
       
        font-size:18px;
        padding-top: 22px;
    }
.secondP{
  
text-align: center;
line-height: 16px; 
letter-spacing: -0.088px;
margin-top: 20px;
padding-left: 57px;
padding-right: 63px;
}
    .modalbody {
        width: 360px;
        height: 462px;
        flex-shrink: 0;
        bottom: 0;
        border-radius: 8px 8px 0px 0px;
background: #FFF;
box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);
    }
    
}
@media only screen and (max-width: 576px) {
    .cross {
      display: none;
    }
    .h01 {
       
        font-size:18px;
        padding-top: 22px;
    }
.secondP{
  
text-align: center;
line-height: 16px; 
letter-spacing: -0.088px;
margin-top: 20px;
padding-left: 57px;
padding-right: 63px;
}
    .modalbody {
        width: 360px;
        height: 462px;
        margin: auto;
        margin-top: 400px;
        border-radius: 8px 8px 0px 0px;
background: #FFF;
box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);
left: 0%;
right: 0%;
    }
   
}